#container {
	display: flex;
	-webkit-flex-direction: column;
	background-color: #33DEFF;
	border-radius: 25px;
	padding: 1% 3% 3% 3%;
	width: 350px;
	align-items: center;
	text-align: center;
}

#billAmount {
	width: 30%;
}

h1 {
	text-align: center;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

#amounts {
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

#owed {
	padding-top: 5px;
}

@media only screen (max-width: 385px) {
	#container {
		width: 90%;
	}
}

