#container {
	background-color: #33DEFF;
	border-radius: 25px;
	padding: 1% 5% 5% 5%;
	width: 90%;
}

h1 {
	text-align: center;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

#amounts {
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

#owed {
	padding-top: 5px;
}

